<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


	<system.serviceModel>

		<services>
			<service name="ProductServices.FakeProductService" >

				<endpoint address=""
						  binding="webHttpBinding"
						  contract="ProductServices.IProductService"
						  behaviorConfiguration="jsonBehavior"
						  >
					
				</endpoint>

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:5000" />
					</baseAddresses>
				</host>
				
			</service>
		</services>

		<behaviors>
			<endpointBehaviors>
				
				<behavior name="jsonBehavior">
					<webHttp defaultOutgoingResponseFormat="Json" />
				</behavior>

				<behavior name="xmlBehavior">
					<webHttp defaultOutgoingResponseFormat="Xml" />
				</behavior>
				
			</endpointBehaviors>
		</behaviors>
		
	</system.serviceModel>

	<!--<appSettings>
		<add key="baseAddress" value="http://localhost:5000" />
	</appSettings>-->
</configuration>